@model Mvp.Feature.Forms.Models.FormField

<div>
    <label for="@Model.ValueField.Id" class="@Model.Model.LabelCssClass">@Model.Model.Title</label>
    <textarea 
        id="@Model.ValueField.Id" 
        name="@Model.ValueField.Name"
        placeholder="@Model.Model.PlaceholderText"
        value="@Model.Model.Value"
        maxlength="@Model.Model.MaxLength"
        class="@Model.Model.CssClass"></textarea>
</div>