@model Mvp.Feature.Forms.Models.FormField

<div>
    <label for="@Model.ValueField.Id" class="@Model.Model.LabelCssClass">@Model.Model.Title</label>
    <input
        type="hidden"
        id="@Model.IndexField.Id"
        name="@Model.IndexField.Name"
        value="@Model.IndexField.Value" />
    <input
        type="hidden"
        id="@Model.FieldIdField.Id"
        name="@Model.FieldIdField.Name"
        value="@Model.FieldIdField.Value" />
    <input 
        id="@Model.ValueField.Id" 
        name="@Model.ValueField.Name" 
        type="password" 
        placeholder="@Model.Model.PlaceholderText"
        value="@Model.Model.Value"
        maxlength="@Model.Model.MaxLength"
        class="@Model.Model.CssClass" />
</div>